*.debhelper
debhelper-build-stamp
get-costs.substvars

/.pybuild
/debian/.debhelper/
/debian/get-costs
/src/get_costs.egg-info

*.ods
*.xlsx
*.xlsx.bak
*.xlsx#
*.pyc
*.docx
/data
__pycache__
/problem_doku
/backup
.~lock*
/venv
